<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/style.css" rel="stylesheet" />
    <script src="~/js/jquery-2.2.3.min.js"></script>
    <script src="~/js/jquery-simple-validator.min.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
