@model LAB10_WORK.Models.mod

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<div>
    <h3>FirstName:@Model.FirstName</h3>
    <h3>LastName:@Model.LastName</h3>
    <h3>Age:@Model.Age</h3>
</div>