@model LAB10_WORK.Models.mod

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <form action="Create" method="post">
        <label>FirstName</label>
        <input type="text" name="FirstName"/>
        <br/>
        <label>LastName</label>
        <input type="text" name="LastName" />
        <br />
        <label>Age</label>
        <input type="text" name="Age" />
        <br /> </br>
        <input type="submit" value="save" />


    </form>

</div>

